/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------
// |  L  | SHIFT |  B  |  E  |
// |  Z  |  OPT  |  [  |  ]  |
// |  V  |   C   |  X  |  D  |
// |     |       |  S  | CMD |
// ---------------------------
// https://www.reddit.com/r/ProCreate/comments/1it19t6/procreate_keyboard_shortcuts/
            
            bindings = <
    &kp L  &kp LSHFT &kp B     &kp E
    &kp Z  &kp LALT  &kp LBKT  &kp RBKT
    &kp V  &kp C     &kp X     &kp D
                     &kp S     &kp LCMD
            >;
        };
    };
};