/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
// ---------------------------
// |  L  | SHIFT |  B  |  E  |
// |  Z  |  OPT  |  [  |  ]  |
// |  V  |   C   |  X  |  D  |
// |     |       |  S  | CMD |
// ---------------------------
// https://www.reddit.com/r/ProCreate/comments/1it19t6/procreate_keyboard_shortcuts/
            
            bindings = <
                &mo 1  &kp LSHFT &kp B     &kp E
                &kp Z  &kp LALT  &kp LBKT  &kp RBKT
                &kp V  &kp C     &kp X     &kp D
                                &kp S     &kp LCMD
            >;
        };

        bt_layer { // Layer 1
            
// ----------------------------------------------
// |      A      |       B       |       C      |
// |    &trans   |    &trans     |     &trans   |
            bindings = <
                &trans  &bt BT_CLR  &out OUT_BLE     &out OUT_USB
                &none   &none       &none       &none
                &none   &none       &none       &none
                                    &none       &none
            >;
        };
    };
};