#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
    };

    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   60       0     50     50> // pinky bottom
            , <&key_physical_attrs 100 100  100   30       0     50     50> // ring bottom
            , <&key_physical_attrs 100 100  200    0       0     50     50> // middle bottom
            , <&key_physical_attrs 100 100  300   20       0     50     50> // index bottom

            , <&key_physical_attrs 100 100  400   160       0     0     50>
            , <&key_physical_attrs 100 100  750   130       0     50     50>
            , <&key_physical_attrs 100 100  850   100       0     50     50>
            , <&key_physical_attrs 100 100  950   120       0     50     50>

            , <&key_physical_attrs 100 100 1050   260       0     50     50>
            , <&key_physical_attrs 100 100 1150   230       0     50     50>
            , <&key_physical_attrs 100 100    0  200       0     50     50>
            , <&key_physical_attrs 100 100  100  220       0     50     50>

            , <&key_physical_attrs 100 100  220  (-80)       -5     50     50>
            , <&key_physical_attrs 150 100  340  (-100)       90     75     50>
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <4>;

        map = <
            RC(0,0)         RC(0,1)         RC(0,2)         RC(0,3)         
            RC(1,0)         RC(1,1)         RC(1,2)         RC(1,3)         
            RC(2,0)         RC(2,1)         RC(2,2)         RC(2,3)         
                                            RC(3,2)         RC(3,3)
        >;
    };
};

&xiao_serial {
    status = "disabled";
};